@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}
  
@media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
}
  
body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}


*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    min-height: 300px;
    max-height: 350px;
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px black solid;
    transition: 1s ease all;
}

img:hover {
    scale: 102%
}

.input {
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}
  
.input:active {
    transform: scale(0.95);
}
  
.input:focus {
    border: 2px solid grey;
}

.logo {
    transition: 2s ease-all;
}

.logo:hover {
    scale: 102%
}

/* From Uiverse.io by bhaveshxrawat */ 
.ball {
    position: relative;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    animation: bounce 0.5s ease-in-out infinite both;
}
   
@keyframes bounce {
    0%, 100% {
     transform: translate(0px, 0px);
    }
   
    50% {
     transform: translate(0px, 50px) scale(1, 0.77);
    }
}

  
